mixin textarea(name, placeholder, required, autocomplete, rows)
	+b.TEXTAREA.textarea(name="#{name}" placeholder="#{placeholder}" required=required autocomplete="#{autocomplete}" rows="#{rows}")&attributes(attributes)
		block
