mixin input-text(type, name, placeholder, required, autocomplete)
	+b.INPUT.input-text(type="#{type}" name="#{name}" placeholder="#{placeholder}" required=required autocomplete="#{autocomplete}")&attributes(attributes)
		block
