mixin preview-item(val, n)
	+b.preview-item&attributes(attributes)
		block

		+e.picture-wrapper
			+e('span') 0#{n}
			+e('picture').img.js-picture-img
				//- +e('source')(media="(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)" srcset="assets/images/#{val['imgs'][1]}")
				+e('source')(srcset="assets/images/#{val['imgs'][3]}" media="(max-width: 767px)")
				+e('source')(srcset="assets/images/#{val['imgs'][2]}" media="(max-width: 1279px)")
				+e('img')(src="assets/images/#{val['imgs'][0]}" alt="#{val['imgs'][0]}")
					//-+e(class="img_#{key}")
						style(type='text/css').
							.preview-item__img_#{key} {
								background-image: url('assets/images/#{val['imgs'][0]}');
							}
							@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
								.preview-item__img_#{key} {
									background-image: url('assets/images/#{val['imgs'][1]}');
								}
							}

		+e.desc
			+e('h3') #{val['title']}
			+e('p') #{val['text']}