mixin input-check(name, id, value, checked, required)
	+b.INPUT.input-check(type="checkbox" name="#{name}" id="#{id}" value="#{value}" checked=checked required=required)&attributes(attributes)
		block
